@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    </head>
<body>
    <div class="container">
        新增客戶
        <table class="table table-bordered">
            <tr>
                <td>名稱</td>
                <td colspan="2"><input type="text" id="CompanyName" /></td>
            </tr>
            <tr>
                <td>連絡人姓名</td>
                <td colspan="2"><input type="text" id="ContactName" /></td>
            </tr>
            <tr>
                <td>聯絡人職稱</td>
                <td colspan="2"><input type="text" id="ContactTitle" /></td>
            </tr>
            <tr>
                <td>建立日期</td>
                <td colspan="2"><input type="text" id="CreationDate" /></td>
            </tr>
            <tr>
                <td>國家</td>
                <td colspan="2"><input type="text" id="Country" /></td>
            </tr>
            <tr>
                <td>城市</td>
                <td colspan="2"><input type="text" id="City" /></td>
            </tr>
            <tr>
                <td>區域</td>
                <td colspan="2"><input type="text" id="Region" /></td>
            </tr>

            <tr>
                <td>郵遞區號</td>
                <td colspan="2"><input type="text" id="PostalCode" /></td>
            </tr>
            <tr>
                <td>地址</td>
                <td colspan="2"><input type="text" id="Address" /></td>
            </tr>
            <tr>
                <td>電話</td>
                <td colspan="2"><input type="text" id="Phone" /></td>
            </tr>
            <tr>
                <td>傳真</td>
                <td colspan="2"><input type="text" id="Fax" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary" id="save">存檔</button>
                    <a href="../Search/Search"><button class="btn btn-primary" id="insert">回前ㄧ頁</button></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
